header {
  display: flex;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  align-items: center;
  z-index: 1;
  top: 0;
 }
 header nav {
   padding-right: 40px;
 }
 .logo {
   display: flex;
   align-items: center;
   flex-grow: 1;
   padding-left: 30px
 }
 .logo span {
  color: MediumAquamarine;
  padding-left: 10px;
 }
a {
  color: black;
  padding: 10px;
 }
nav span {
  display: inline-block;
  padding: 20px 10px;
}
h2 {
  display: block;
  font-weight: bold;
}
 .main.container {
   display: flex;
   margin: 0 auto 78px auto;
   padding-top: 116px;
   width: 1232px;
   justify-content: center;
}
 .column.large {
   width: 630px;
   display: flex;
   flex-direction: column;
   margin-right: 32px;
 }
 .column.medium {
   width: 300px;
   display: flex;
   flex-direction: column;
   margin-right: 32px;
 }
 .column.small {
   width: 240px;
   display: flex;
   flex-direction: column;
   margin-right: 32px;
 }
 .column.medium .stories {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 .stories {
   display: flex;
   justify-content: space-between;
   margin-top: 17px;
 }
 .narrative {
   font-family: Georgia;
   font-size: 17px;
   color: black;
   display: flex;
   margin-top: 16px;
 }
 .story {
   display: flex;
   flex-direction: column;
 }
 .text-content {
   height: 250px;
   flex-direction: row;
}
 .lead.story .image {
   background-image: url("../images/img-story-main.png");
   width: 630px;
   margin-top: 0;
   font-size: 40px;
   text-align: left;
 }
 .fall-cancelled.image {
   background-image: url("../images/img-story-2.png");
  }
  .image {
   color: white;
   font-family: Georgia;
   font-weight: bold;
   font-size: 30px;
   margin-top: 15px;
   text-align: center;
   display: block;
   flex-direction: row;
   justify-content: normal;
   height: 300px;
 }
 .pop-culture.image {
   background-image: url("../images/img-story-3.png");
 }
 .cat-ceo.image {
   background-image: url("../images/img-story-1.png");
 }
 .news.bites {
   font-size: 16px;
   font-weight: bold;
 }
 .ideas {
   background-color: WhiteSmoke;
   font-family: Verdana;
   font-size: 12px;
   color: DimGray;
   display: inline-flex;
   flex-direction: column;
   border-bottom: 1px solid black;
   margin: 0;
   padding: 10px 0px 10px 15px;
   width: 220px;
 }
 footer {
   background-color: MediumAquamarine;
   margin: auto;
   font-family: Verdana;
   font-size: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 325px;
   width: 100%;
 }
 footer .times {
   font-family: Georgia;
   font-size: 16px;
   font-weight: bold;
   color: white;
   display: inline-block;
   padding-right: 25px
 }
 footer nav {
   display: inline-block;
   padding-left: 25px;
 }
 nav span {
   display: inline-block;
   padding: 20px 10px;
 }
